extends layout

block content
  h1 Search PIPL for Sample Job
  div.startSearch
    form(method="post", action="/jobs")
      div
        if launchPage
          input.btn.btn-primary(type="submit", value="Go!")

  div
    h2= jobTitle

  if !launchPage
    div
      h4 Results from Initial PIPL Search with #{searchSize} names:
      p Single person matches: #{stats.single_persons}
      p Possible person matches: #{stats.possible_person_response}
      p Non-matches: #{stats.non_match}

      h4 Saved to Persons Database:
      p Single person matches with email: #{stats.single_person_email}
      p Possible person matches: #{stats.possible_persons}

    div
      h4 Matches based on Job Title:
      table.matchResults.table
        thead
          tr
            th Match Name
            th Match Email
        tbody
          each match in matches
            tr
              td #{match.data.names[0].display}
              td #{match.data.emails[0].address}
